.btn {
  width: 75px;
  height: 56px;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.double {
  width: 150px;
}

.btn:hover {
 background-color: rgb(255, 123, 0);
}